.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 10vw;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 3.5vw;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    color: orangered;
    box-shadow: 0px 0px 10px 2px orangered;
    text-shadow: 0px 0px 0px 1px orangered;
}