.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 10vw;
    background-color: black;
    border-radius: 1vw;
    font-size: 3.5vw;
    cursor: pointer;
    color: orangered;
    box-shadow: 0vw 0vw 1vw 0.2vw orangered;
}

.drum-pad.pushed {
    transform: translateY(0.5vw);
    box-shadow: 0vw 0vw 0vw 0vw black;
}

@media (max-width: 500px){
    .drum-pad {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22vw;
        height: 20vw;
        background-color: black;
        border-radius: 2vw;
        font-size: 7vw;
        cursor: pointer;
        color: orangered;
        box-shadow: 0vw 0vw 2vw 0.4vw orangered;
    }
}