.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 10vw;
    background-color: black;
    border-radius: 1vw;
    font-size: 3.5vw;
    cursor: pointer;
    color: orangered;
    box-shadow: 0vw 0vw 1vw 0.2vw orangered;
}