#drum-machine {
    width: 80vw;
    height: 42vw;
    display: flex;
    background-color: #0f0f0f;
    box-shadow: 0vw 0vw 1vw 0.5vw orangered;
    user-select: none;
}

#control-panel{
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 500px){
    #drum-machine {
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        background-color: #0f0f0f;
        box-shadow: 0vw 0vw 1vw 0.5vw orangered;
        justify-content: space-evenly;
        align-items: center;
    }

    #control-panel{
        width: 80vw;
        height: 35vh;
    }
}