.switch{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orangered;
}
  
.switch-rail{
    width: 6vw;
    height: 2.5vw;
    background-color: black;
    padding: 0.5vw;
}
  
.switch-trigger{
    width: 3vw;
    height: 2.5vw;
    background-color: orangered;
    cursor: pointer;
    box-shadow: 0vw 0vw 0.4vw 0.05vw orangered;
}

#switches {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: orangered;
}

@media (max-width: 500px){ 
    .switch-rail{
        width: 12vw;
        height: 5vw;
        background-color: black;
        padding: 1vw;
    }
      
    .switch-trigger{
        width: 6vw;
        height: 5vw;
        background-color: orangered;
        cursor: pointer;
        box-shadow: 0vw 0vw 0.8vw 0.1vw orangered;
    }
}